---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest Blog Posts" }}</h2>
    <p>See categories and tags in the <a href="/blog-archive/">blog archive</a></p>
    <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
    <div style="padding-top:20px;"></div>
    <ul class="post-list">
      {%- for post in posts limit:5 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          <a class="post-link" href="{{ post.url | relative_url }}">...read more</a>
        {%- endif -%}
        <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
      </li>
      {%- endfor -%}
    </ul>
    <p style="padding-bottom: 15px" class="rss-subscribe">See <a href="/blog-archive/">more</a> or subscribe to blog updates <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
    
  {%- endif -%}

  <!-- Add a break and then a section with social media posts
  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
  -->
  <!-- Add a break and then a section with nature sightings data from iNaturalist -->
  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
  
  <div id="iNaturalist" style="padding-top:20px">
    <h2><a href="https://www.inaturalist.org/people/rmcminds" target="_blank"><img alt="iNaturalist" src="https://www.inaturalist.org/assets/logo-small.png" /></a></h2>
    <h3>Ryan's most recent taxonomic discoveries</h3>
    <p><small>(observations of taxa that he'd never before uploaded)</small></p>

    <div style="border:1px solid #e1e4e8;max-height:600px;overflow-y:scroll">
      <table>
        {% for row in site.data.most_recent_new_taxa limit: 20 %}
          <!-- don't need the header for now. will ultimately want to reformat this to use CSS grid instead of table.
          {% if forloop.first %}
            <tr>
              <th>Taxon</th>
              <th>Photo</th>
            </tr>
          {% endif %}
          -->
          
          <tr>
            <td><p><i><a href="{{ row["url"] }}" target="_blank">{{ row["scientific_name"] }}</a></i></p>
                <p>{{ row["common_name"] }}</p>
                <p>{{ row["observed_on"] }}</p>
                {% if row["quality_grade"] == 'research' %}<p>ID confirmed</p>{% endif %}
                {% if row["quality_grade"] == 'needs_id' %}<a href="{{ row["url"] }}" target="_blank" style="color:#8B0000"><p>Help me confirm this ID or suggest another!</p></a>{% endif %}
            </td>
            <td style="text-align: center;"><a href="{{ row["url"] }}" target="_blank"><img src="{{ row["image_url"] }}" style="min-width: 100px; max-height: 200px"></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  
  <!-- Add a break and then a section with book data from bookwyrm.social -->
  <div style="padding-top:20px"></div>
  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
  
  <div id="Bookwyrm" style="padding-top:30px">
    <h2>
      <a href="https://bookwyrm.social/user/rmcminds" target="_blank">Bookwyrm.social</a>
    </h2>
    <h3>
      Ryan recently <a href="https://bookwyrm.social/user/rmcminds/books/read?sort=-finish_date" target="_blank">finished reading</a>:
    </h3>
    <div style="border:1px solid #e1e4e8;max-height:600px;overflow-y:scroll">
      <table id="read-books-table">
        {% for book in site.data.read limit: 10 %}
          <tr>
            <td><p><a href="{{ book.link }}" target="_blank">{{ book.title }}</a></p>
                <p>{{ book.author }}</p>
                <p>Finished {{ book.date_finished }}</p>
                <p>{{ book.rating }}</p>
            </td>
            <td style="text-align: center;"><img src="{{ book.img_url }}" style="min-width: 100px; max-height: 200px"></td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div style="padding-top:20px"></div>
    <h3>
      ...and is <a href="https://bookwyrm.social/user/rmcminds/books/reading?sort=-start_date" target="_blank">currently reading</a>:
    </h3>
    <div style="border:1px solid #e1e4e8;max-height:600px;overflow-y:scroll">
      <table id="reading-books-table">
        {% for book in site.data.reading limit: 10 %}
          <tr>
            <td><p><a href="{{ book.link }}" target="_blank">{{ book.title }}</a></p>
                <p>{{ book.author }}</p>
            </td>
            <td style="text-align: center;"><img src="{{ book.img_url }}" style="min-width: 100px; max-height: 200px"></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
</div>
