---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest Blog Posts" }}</h2>
    <p>See categories and tags in the <a href="/blog-archive/">blog archive</a></p>
    <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
    <div style="padding-top:30px"></div>
    <ul class="post-list">
      {%- for post in site.posts limit:5 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
      </li>
      {%- endfor -%}
    </ul>
    <p style="padding-bottom: 20px" class="rss-subscribe">See <a href="/blog-archive/">more</a> or subscribe to blog updates <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  <!-- Add a break and then a section with social media posts -->
  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">

  <!-- removing twitter widget as long as it's not functioning
  <div id="twitter" style="padding-top:30px;padding-bottom:30px">
    <a class="twitter-timeline" href="https://twitter.com/rmcminds?ref_src=twsrc%5Etfw" target="_blank">Tweets by Ryan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
  -->

  <!-- New x.com widget -->
  <div id="twitter" style="height:400px;padding-top:30px;padding-bottom:30px">
    <a class="twitter-timeline" data-theme="light" href="https://twitter.com/rmcminds?ref_src=twsrc%5Etfw">Tweets by rmcminds</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <!-- not using mastodon consistently...
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="/assets/mastodon.widget.css" />
  <script type="text/javascript" src="/assets/mastodon.widget.js"></script>
  <script>
  $(document).ready(function() {
  // jQUERY is required!
    var mapi = new MastodonApi({
      target_selector  : '#myTimeline'
      ,instance_uri    : 'https://mastodon.social'
      ,access_token    : 'qWltiDRS2s-x4GlqTOyyp_FUOmoziHyg1-O4H7Skx8U'
      ,account_id      : '110722155423110086'
      ,boosts_count_icon : '<img src="/assets/web-push-icon_reblog.png" style="height: 18px;" />'
      ,favourites_count_icon : '<img src="/assets/web-push-icon_favourite.png" style="height: 18px;" />'
      // optional parameters
      // ===================
      // - status max
      //,toots_limit     : 5
      // - if you are using font-awesome:
      //,pic_icon        : '<i class="fa fa-picture-o"></i>'
      // or a picture
      //,pic_icon        : '<img src="mypicicon.gif" />'
    });
  });
  </script>
  <div style="padding-top:30px"></div>
  <div id="myTimeline" class="mastodon-timeline mastodon-timeline-dark"></div>
  -->
  
  <!-- Add a break and then a section with nature sightings data from iNaturalist -->
  <div style="padding-top:20px"></div>
  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
  
  <div id="iNaturalist" style="padding-top:30px">
    <h2><a href="https://www.inaturalist.org/people/rmcminds" target="_blank"><img alt="iNaturalist" src="https://www.inaturalist.org/assets/logo-small.png" /></a></h2>
    <h3>Ryan's most recent taxonomic discoveries</h3>
    <p>(observations of taxa that he'd never before uploaded)</p>
    
    <table>
      {% for row in site.data.most_recent_new_taxa limit: 5 %}
        <!-- don't need the header for now. will ultimately want to reformat this to use CSS grid instead of table.
        {% if forloop.first %}
          <tr>
            <th>Taxon</th>
            <th>Photo</th>
          </tr>
        {% endif %}
        -->
        
        <tr>
          <td><p><i><a href="{{ row["url"] }}" target="_blank">{{ row["scientific_name"] }}</a></i></p>
              <p>{{ row["common_name"] }}</p>
              <p>{{ row["observed_on"] }}</p>
              {% if row["quality_grade"] == 'research' %}<p>ID confirmed</p>{% endif %}
              {% if row["quality_grade"] == 'needs_id' %}<a href="{{ row["url"] }}" target="_blank" style="color:#8B0000"><p>Help me confirm this ID or suggest another!</p></a>{% endif %}
          </td>
          <td style="text-align: center;"><a href="{{ row["url"] }}" target="_blank"><img src="{{ row["image_url"] }}" style="min-width: 100px; max-height: 200px"></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  
  
  <!-- Add a break and then a section with book data from bookwyrm.social -->
  <div style="padding-top:20px"></div>
  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
  
  <div id="Bookwyrm" style="padding-top:30px">
    <h2>
      <a href="https://bookwyrm.social/user/rmcminds" target="_blank">Bookwyrm.social</a>
    </h2>
    <h3>
      Ryan recently <a href="https://bookwyrm.social/user/rmcminds/books/read?sort=-finish_date" target="_blank">finished reading</a>:
    </h3>
    <table id="read-books-table">
      {% for book in site.data.read limit: 5 %}
        <tr>
          <td><p><a href="{{ book.link }}" target="_blank">{{ book.title }}</a></p>
              <p>{{ book.author }}</p>
              <p>Finished {{ book.date_finished }}</p>
              <p>{{ book.rating }}</p>
          </td>
          <td style="text-align: center;"><img src="{{ book.img_url }}" style="min-width: 100px; max-height: 200px"></td>
        </tr>
      {% endfor %}
    </table>
    <h3>
      ...and is <a href="https://bookwyrm.social/user/rmcminds/books/reading?sort=-start_date" target="_blank">currently reading</a>:
    </h3>
    <table id="reading-books-table">
      {% for book in site.data.reading limit: 5 %}
        <tr>
          <td><p><a href="{{ book.link }}" target="_blank">{{ book.title }}</a></p>
              <p>{{ book.author }}</p>
          </td>
          <td style="text-align: center;"><img src="{{ book.img_url }}" style="min-width: 100px; max-height: 200px"></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  
</div>
