---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest Blog Posts" }}</h2>
    <p>See categories and tags in the <a href="/blog-archive/">blog archive</a></p>
    <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
    <div style="padding-top:30px"></div>
    <ul class="post-list">
      {%- for post in site.posts limit:5 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
      </li>
      {%- endfor -%}
    </ul>
    <p style="padding-bottom: 20px" class="rss-subscribe">See <a href="/blog-archive/">more</a> or subscribe to blog updates <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">

  <!-- removing twitter widget as long as it's not functioning
  <div id="twitter" style="padding-top:30px;padding-bottom:30px">
    <a class="twitter-timeline" href="https://twitter.com/rmcminds?ref_src=twsrc%5Etfw">Tweets by Ryan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
  -->
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="/assets/mastodon.widget.css" />
  <script type="text/javascript" src="/assets/mastodon.widget.js"></script>
  <script>
  $(document).ready(function() {
  // jQUERY is required!
    var mapi = new MastodonApi({
      target_selector  : '#myTimeline'
      ,instance_uri    : 'https://mastodon.social'
      ,access_token    : 'qWltiDRS2s-x4GlqTOyyp_FUOmoziHyg1-O4H7Skx8U'
      ,account_id      : '110722155423110086'
      // optional parameters
      // ===================
      // - status max
      //,toots_limit     : 5
      // - if you are using font-awesome:
      //,pic_icon        : '<i class="fa fa-picture-o"></i>'
      // or a picture
      //,pic_icon        : '<img src="mypicicon.gif" />'
    });
  });
  </script>
  <div style="padding-top:30px"></div>
  <div id="myTimeline" class="mastodon-timeline mastodon-timeline-dark"></div>
  <div style="padding-top:20px"></div>

  <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
  
  <div style="padding-top:30px">
    <h2><a href='https://www.inaturalist.org/people/rmcminds'>iNaturalist</a></h2>
    <h3>Ryan's most recent taxonomic discoveries</h3>
    <p>(observations of taxa that he'd never before uploaded)</p>
    
    <table>
      {% for row in site.data.most_recent_new_taxa limit: 5 %}
        {% if forloop.first %}
          <tr>
            <th>Taxon</th>
            <th>Photo</th>
          </tr>
        {% endif %}
        
        <tr>
          <td><p><i>{{ row["scientific_name"] }}</i></p>
              <p>{{ row["common_name"] }}</p>
              <p>{{ row["observed_on"] }}</p>
              <p>({{ row["quality_grade"] }})</p>
          </td>
          <td><a href="{{ row["url"] }}"><img src="{{ row["image_url"] }}" style="width: 100px"></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  
  <!-- removing inat widget as long as i like my own replacement
  <div id="inat" style="padding-top:30px">
    <style type="text/css" media="screen">
      .inat-widget { font-family: Georgia, serif; padding: 10px; line-height: 1}
      .inat-widget-header {margin-bottom: 10px; padding-bottom: 20px}
      .inat-widget td {vertical-align: top; padding-bottom: 10px;}
      .inat-label { color: #888; }
      .inat-meta { font-size: smaller; margin-top: 3px; line-height: 1.2;}
      .inat-observation-body, .inat-user-body { padding-left: 10px; }
      .inat-observation-image {text-align: center;}
      .inat-observation-image, .inat-user-image { width: 48px; display: inline-block; }
      .inat-observation-image img, .inat-user-image img { max-width: 48px; }
      .inat-observation-image img { vertical-align: middle; }
      .inat-widget-small .inat-observation-image { display:block; float: left; margin: 0 3px 3px 0; height:48px;}
      .inat-label, .inat-value, .inat-user { font-family: "Trebuchet MS", Arial, sans-serif; }
      .inat-user-body {vertical-align: middle;}
      .inat-widget td.inat-user-body {vertical-align: middle;}
      .inat-widget .inat-footer td.inat-value {vertical-align: middle; padding-left: 10px;}
    </style>
    <div class="inat-widget">
        <div class="inat-widget-header">
          <a href="https://www.inaturalist.org"><img alt="iNaturalist" src="https://www.inaturalist.org/assets/logo-small.png" /></a>  
        </div>
      <script type="text/javascript" charset="utf-8" src="https://www.inaturalist.org/observations/rmcminds.widget?layout=small&amp;limit=24&amp;order=desc&amp;order_by=created_at"></script>
      <div style="padding-top: 20px">
        <strong><a href="https://www.inaturalist.org/observations/rmcminds">View Ryan's observations &raquo;</a></strong>
      </div>
    </div>
    -->

    <div style="padding-top:20px"></div>
    <hr style="border-top: 1px solid #e1e4e8; border-right: none; border-bottom: none; border-left: none;">
    
    <div style="padding-top:30px">
      <h2>
        <a href="https://bookwyrm.social/user/rmcminds/books/reading">Bookwyrm.social</a>
      </h2>
      <h3>
        Ryan recently finished reading:
      </h3>
      <table id="read-books-table"></table>
      <h3>
        And is currently reading:
      </h3>
      <table id="reading-books-table"></table>
      <script>
        fetch('/assets/read.json')
          .then(response => response.json())
          .then(data => {
            const table = document.getElementById('read-books-table');

            data.forEach(item => {
                // Create new table row
                const tableRow = document.createElement('tr');

                // Create table cell for title and link
                const titleCell = document.createElement('td');
                const link = document.createElement('a');
                link.href = item.link;
                link.innerText = item.title;
                titleCell.appendChild(link);
                tableRow.appendChild(titleCell);

                // Check if the book has a cover
                if (item.img_url) {
                    // Create table cell for cover image
                    const imageCell = document.createElement('td');
                    const imgElement = document.createElement('img');
                    imgElement.src = item.img_url;
                    imgElement.alt = `Cover of ${item.title}`;
                    imgElement.style.width = '100px'; // adjust the size as needed
                    imageCell.appendChild(imgElement);
                    tableRow.appendChild(imageCell);
                } else {
                    // If no cover image, create an empty cell
                    const emptyCell = document.createElement('td');
                    tableRow.appendChild(emptyCell);
                }

                // Append table row to table
                table.appendChild(tableRow);
            });
        })
        .catch(console.error);
        fetch('/assets/reading.json')
          .then(response => response.json())
          .then(data => {
            const table = document.getElementById('reading-books-table');

            data.forEach(item => {
                // Create new table row
                const tableRow = document.createElement('tr');

                // Create table cell for title and link
                const titleCell = document.createElement('td');
                const link = document.createElement('a');
                link.href = item.link;
                link.innerText = item.title;
                titleCell.appendChild(link);
                tableRow.appendChild(titleCell);

                // Check if the book has a cover
                if (item.img_url) {
                    // Create table cell for cover image
                    const imageCell = document.createElement('td');
                    const imgElement = document.createElement('img');
                    imgElement.src = item.img_url;
                    imgElement.alt = `Cover of ${item.title}`;
                    imgElement.style.width = '100px'; // adjust the size as needed
                    imageCell.appendChild(imgElement);
                    tableRow.appendChild(imageCell);
                } else {
                    // If no cover image, create an empty cell
                    const emptyCell = document.createElement('td');
                    tableRow.appendChild(emptyCell);
                }

                // Append table row to table
                table.appendChild(tableRow);
            });
        })
        .catch(console.error);
      </script>
    </div>
    
  </div>

</div>
